src/main/mule/flows/create-flight-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="post:\flights:application\json:american-flights-api-config">
		<logger level="INFO" doc:name="Start Log" doc:id="8adca12e-19b6-46f7-8d3d-4b5952563d6b" message="Create flight flow has started"/>
		<ee:transform doc:name="Transform Message" doc:id="bae1b6cc-a415-4ca0-a74a-fb89f41d3dec" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="4e9bf544-9e8f-4f31-a8c3-a7419bc8d6d9" config-ref="Database_Config" autoGenerateKeys="true">
			<db:sql ><![CDATA[INSERT INTO flights
(code, price, departureDate, origin, destination, emptySeats, planeType, totalSeats)
VALUES
(:code, :price, :departureDate, :origin, :destination, :emptySeats, :planeType, :totalSeats)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
  code: payload.code,
  price: payload.price,
  departureDate: payload.departureDate as Date,
  origin: payload.origin,
  destination: payload.destination,
  emptySeats: payload.emptySeats,
  planeType: payload.plane.'type',
  totalSeats: payload.plane.totalSeats
}]]]></db:input-parameters>
			<db:auto-generated-keys-column-names >
				<db:auto-generated-keys-column-name value="ID" />
			</db:auto-generated-keys-column-names>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="4d5f6f54-6b5f-4104-9fc7-558ccd7f8d3e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Flight added successfully",
	id: payload.generatedKeys.ID
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="53b191dc-3062-4e8d-acce-1f21e86f949d" message="Flow has ended"/>

    </flow></mule>
