src/main/mule/flows/delete-flight-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd"><flow name="delete:\flights\(ID):american-flights-api-config">
		<logger level="INFO" doc:name="Start Log" doc:id="82103b41-8ce5-46f9-a81b-b35f504f6bc8" message="Delete flow has started"/>
		<db:delete doc:name="Delete" doc:id="5d1cd23f-814a-47b4-a808-6a62e71a3033" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from kush.flights where id = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[ID: attributes.uriParams.ID]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="1f5cd748-abf3-4793-bb7b-9e93f1d54efb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Flight deleted successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>

    </flow></mule>
