src/main/mule/flows/get-flights-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get:\flights:american-flights-api-config">
		<logger level="INFO" doc:name="Start Log" doc:id="c12a83a2-c85d-4e68-9248-962c86f687aa" message="Get flight flow has started"/>
		<db:select doc:name="Select" doc:id="c2261c7f-5102-4af4-939e-576aaa379b34" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from kush.flights ]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ed6cc32d-cd45-4db7-96ba-551ca4f6675f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (flight) -> {
    id: flight.ID,
    code: flight.CODE,
    price: flight.PRICE,
    departureDate: flight.DEPARTUREDATE,
    origin: flight.ORIGIN,
    destination: flight.DESTINATION,
    emptySeats: flight.EMPTYSEATS,
    plane: {
        'type': flight.PLANETYPE,
        totalSeats: flight.TOTALSEATS
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9f6cb549-3ddf-4b1f-9161-30dee050e17c" message="#[payload]"/>


</flow>
</mule>
